res/Map2Tiles/bin/Debug/blood.png
res/Map2Tiles/bin/Debug/Map2Tiles.exe
*.pdb
res/Map2Tiles/obj/Debug/Map2Tiles.csproj.FileListAbsolute.txt
res/Map2Tiles/bin/Debug/Map2Tiles.pdb
res/Map2Tiles/.vs/Map2Tiles/v14/.suo
res/fe5/zsnes/776c.zs1
res/Map2Tiles/bin/Debug/map01-tileset.txt